@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gabarito';
  src: url('../public/Gabarito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* If it's a variable font with multiple weights */
  font-style: normal; /* Adjust if you have italic or other variations */
}

body {
  margin: 0;
  font-family: 'Gabarito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

